/* +++++++++++++++++++++++++++++++++++++++++   RESPONSIVE:  200-760px ++++++++++++++++++++++++++++++ */
/* -------------------------------------------CONTACTO---------------------------------------- */
@media only screen and (min-width: 200px) and (max-width: 760px) {

    .contenedor-contacto {
        background-color: rgb(236, 236, 236);
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            'header			header   	header'
            'form-container		form-container 	form-container'
            'form-container		form-container	form-container'
            'footer	 		footer 		footer';
    }

    .form-container {
        margin-top: 60px;
        height: fit-content;
        width: 100%;
        background-color: rgb(112, 112, 112);
        display: grid;
        grid-area: form-container;
    }

    .boton-enviar {
        margin-bottom: 20px;
    }
}
/* +++++++++++++++++++++++++++++++++++++++++   RESPONSIVE: 761-1380px ++++++++++++++++++++++++++++++ */

/* -------------------------------------------CONTACTO---------------------------------------- */
@media only screen and (min-width: 761px) and (max-width: 1380px) {
    .contenedor-contacto {
        background-color: rgb(236, 236, 236);
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            'header			header   	header'
            'form-container		form-container 	form-container'
            'form-container		form-container	form-container'
            'footer	 		footer 		footer';
    }

    .form-container {
        margin-top: 100px;
        height: fit-content;
        width: 98vw;
        background-color: black;
        display: grid;
        grid-area: form-container;
    }

    .titulo-contacto {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .titulo-termycond {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .boton-enviar {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
}